@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
    url('/fonts/Raleway/Raleway-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-Bold.woff2') format('woff2'),
    url('/fonts/Raleway/Raleway-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/Open_Sans/OpenSans-Regular.woff2') format('woff2'),
    url('/fonts/Open_Sans/OpenSans-Regular.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
}

@import './header';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Raleway', 'Open Sans', sans-serif;
}
.wrapper{
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  border: 1px solid;
}
.container{
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}